
body {
    background-image:url(../images/KYIV.JPG);
    background-position: center;
    background-attachment:fixed;
    
}

#container {
    width: 90%;
    margin: auto;
}

h1 {
    width: 100%;
    position: relative;
    top: -45px;
}

#header {
    
    background: linear-gradient(-45deg, blue, navy);
    background-position: center;
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 5px;
    font-family: 'Actor', sans-serif;
    font-size: 35px;
    padding-bottom: 55px;
    color: gold;
     
    text-shadow: 0 1px 0 #ccc,
               0 4px 0 black,
               0 3px 0 #bbb,
               0 3px 0 red,
               0 9px 0 black,
               0 8px 1px rgba(0,0,0,.1),
               0 0 4px rgba(0,0,0,.1),
               0 7px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 10px 10px red;
    margin-bottom: -25px;
    /* attempt to make attractive logo */
    
    

}

#menubar {
    width: 100%;
   
    background: linear-gradient(to bottom right, orange, yellow);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 55px;
    margin-bottom: 5px;
    
    }

#menubar ul {
    display: table; 
    width: 100%;
    font-size: 25px;
    padding: 10px;
   

    
}
#menubar li {

    display:table-cell;
    text-align: center;
    font-weight: bolder;
    width: 20%;
    text-shadow: -1px -1px 1px orange, 1px 1px 1px #000;
	color: #9c8468;
	opacity: 0.9;
	

	
    font-family: 'Noto Sans', sans-serif;
    
}

#menubar a {
     
    text-decoration: none;
}

ul li  {
    list-style-type: none;

}
ul li a:hover {
    color: blue;
}
#content { 
    padding-top: 10px;
    padding-bottom: 5px;
    width: 80%;
    background: linear-gradient(to bottom, rgba(255,255,255,2),
  rgba(255,255,255,0));
   
    margin: auto;
    
    text-align: center;
    border: black solid 2px;
}

#content1 { 
    padding-top: 10px;
    padding-bottom: 5px;
    width: 80%;
    background: linear-gradient(to bottom, rgba(255,255,255,2),
  rgba(255,255,255,0));
   
    margin: auto;
    height: 500px;
    text-align: center;
    border: black solid 2px;
   
}
/* Height for Home and Links page in order to keep scrool bar consistency */
#content h2 {
    font-size: 40px;
    margin-bottom: 5px;
    text-align:center;
    margin-top: 1px;
    font-family: 'Noto Sans', sans-serif;
   /* attempt to make attractive introduction */
   -webkit-text-stroke-color: black;
   -webkit-text-stroke-width: 1px;
   color: white;
   text-shadow: 1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
}
#content1 h2 {
    font-size: 40px;
    margin-bottom: 5px;
    text-align:center;
    margin-top: 1px;
    font-family: 'Noto Sans', sans-serif;
   /* attempt to make attractive introduction */
   -webkit-text-stroke-color: black;
   -webkit-text-stroke-width: 1px;
   color: white;
   text-shadow:
       3px 1px 0 gray;
}



.flag {
    float: left;
    position: relative;
    bottom: 182px;
    height: 100px;

}



p {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    /* 1em = 20px */
    text-rendering: optimizeLegibility;
}



img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
}

.pechers {
    
    margin: 10px;
}

.war {
    margin: 10px;
}

.motherland {
    margin: 10px;
}

.mummy {
    margin: 10px;
}

/* Photos given unique id's in order to manipulate efficiently */


FIGCAPTION {

font-family: 'Rambla', sans-serif;
font-size: 25px;
font-style: italic;
font-variant: small-caps;
color: orange;
-webkit-text-stroke: .5px red;

}

#footer {
    width: 100%;
    background-image: url("../images/Embroidery_of_Ukraine_12.png");
    background-repeat: repeat-x;
    height: 95px;
    position: relative;
    bottom: -5px;
}
